<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=Edge"/>
        <link type="text/css" rel="stylesheet" href="../css/ghpages-materialize.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>
            Exercício 3 - AngularJS - ng-masters
        </title>
        <script type="text/javascript" src="../js/angular.js"></script>
        <script type="text/javascript" src="js/popup.js"></script>
        <script type="text/javascript" src="js/myalerts.js"></script>
        <script type="text/javascript" src="js/base.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
    </head>

    <body ng-app="myApp" ng-controller="MyCtrl">
        <header>
            <div class="container">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle">
                    <i class="mdi-navigation-menu"></i>
                </a>
            </div>
            <ul id="nav-mobile" class="side-nav fixed">
                <li class="logo">
                    <a id="logo-container" class="brand-logo">
                        <img src="../logo.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="../index.html">
                        Início
                    </a>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold">
                            <a class="collapsible-header waves-effect waves-teal">Exercício 1</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="../exercicio1/">
                                            Versão 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../exercicio1/index_v2.html">
                                            Versão 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../exercicio1/index_v3.html">
                                            Versão Callback
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../exercicio1/index_v4.html">
                                            Versão Promise
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="../exercicio2/">
                        Exercício 2
                    </a>
                </li>
                <li>
                    <a href="../exercicio_aula2/">
                        Exercício aula 2
                    </a>
                </li>
                <li class="active">
                    <a>
                        Exercício 3
                    </a>
                </li>
            </ul>
        </header>
        <main>
            <div class="section">
                <div class="container">
                    <h3 class="header">
                        Exercício 3
                    </h3>
                </div>
                <style>
                    td{
                        border: 1px solid rgb(204, 204, 204);
                    }
                    td:hover, td.active{
                        background-color: #f2f2f2;
                    }
                </style>
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn" ng-click="mostra_alerta()">
                                <i class="mdi-alert-warning right"></i> Show Alert
                            </a>
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal" ng-click="mostra_popup()">
                                <i class="mdi-alert-error right"></i> Show PopUp
                            </a>
                            <my-alerts></my-alerts>
                            <mypopup visible="m.popup" titulo="{[{m.popup.title}]}">
                                <p ng-if="m.popup.message">{[{m.popup.message}]}</p>
                            </mypopup>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script src="../js/init.js"></script>
    </body>
</html>